{% extends "base.html" %} 
{% block page_heading %} Dashboard {% endblock page_heading %}
{% block content %}
<section id="dashboard">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-content">
          <div class="card-body">
            <div class="row">
              <div class="col-12">
                <h1>This is dashboard</h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
